@font-face {
  font-family: "minecraftFont";
  src: url('./DominoBrick-aYy39.ttf') format('truetype');
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'minecraftFont', 'Times New Roman', Times, serif;
    color: white;
}

h1{
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
}

h2{
    margin: 3rem 0
}

#startBtn{
    background-color: green;
    color: white;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 10px;
    letter-spacing: 5px;
    margin-bottom: 1.8rem;
    font-weight: 700;
    border: none;
}

.levelUp{
    background-color: green;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.boxes{
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
    height: 150px;
    width: 150px;
    margin: 1rem;
}

.box1{
    background-color: rgb(214, 72, 72);
}
.box2{
    background-color: rgb(84, 100, 242);
}
.box3{
    background-color: rgb(82, 156, 88);
}
.box4{
    background-color: rgb(221, 223, 107);
}

.flash{
    background-color: white;
    box-shadow: (5px, 2px 3px white);
}

.red{
    background-color: red;
}